<footer style="background-color: lightcoral; padding: 30px; margin-top: 30px;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-12" style="display: flex; justify-content: center; align-items: center;">
            <img src="/media/icon_web.png" alt="icon" style="width: 150px; height: auto">
        </div>
        <div class="col-lg-2 col-md-3 col-12">
            <ul style="list-style-type:none;">
                <li><b>DashBoard</b></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Check SEO</a></li>
                <li><a href="{% url 'video_youtube' %}">Crawl Video</a></li>
                <li><a href="{% url 'extract_format' %}">Extract format</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-12">
            <ul style="list-style-type:none;">
                <li><b>Aubot Me</b></li>
                <li>Email: <a href="mailto:phantu279999@gmail.com">phantu279999@gmail.com</a></li>
                <li>Github: <a href="https://github.com/phantu279999"
                               target="_blank">https://github.com/phantu279999</a></li>
                <li>Linkedin: <a href="https://www.linkedin.com/in/phantu279999/" target="_blank">https://www.linkedin.com/in/phantu279999/</a>
                </li>
                <li>Facebook: <a href="https://www.facebook.com/phantu.27310/" target="_blank">https://www.facebook.com/phantu.27310/</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
            <div class="videowrap">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6425464558983!2d105.82676311536327!3d21.028511985998305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abc4cd3ff6b7%3A0x4412d3d5b2df1db7!2sHanoi%2C%20Vietnam!5e0!3m2!1sen!2spt!4v1662384760663!5m2!1sen!2spt"
                        width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</footer>