{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block style %}
    a {
    color: black;
    text-decoration: none
    }
    img {
    width: 100%;
    height: auto
    }
    .date-info {
    font-size: 12px;
    }
    .content-news {
    font-size: 17px;
    line-height: 24px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    font-weight: 400;
    }
    .tag-news > a {
    background-color: #e5e5e5;
    padding: 0 7px;
    }
{% endblock %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ data.title }}</h1>
        <p class="date-info">Date Public: {{ data.date_create }} | Create By: {{ data.created_by }}</p>
        <h2 style="font-size: 26px;">{{ data.sapo }}</h2>
        <hr>
        {% if body %}
            <div class="content content-news">
                {{ body|safe }}
            </div>
        {% else %}
            <div class="content content-news">
                <p>This news curently has no content.</p>
            </div>
        {% endif %}
        <hr>
        <div class="tag-news">
            <b style="display: block">Tags</b>
            {% for it in tags %}
                <a href="{% url 'news:news_tag' url=it.url %}">{{ it.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}