h1 {
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

input {
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.box {
    position: relative;
    background-color: lightgrey;
}

.vertical-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: lightgreen;
}

.content {
    margin-left: 5px;
}

.box-text {
    /*width: 300px;*/
    overflow: hidden;
    line-height: 1.5em;
    max-height: 96px; /* Chỉ hiển thị 4 dòng */
    transition: max-height 0.3s ease;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}


button {
    border-radius: 10px;
    background-color: yellow;
    border: none;
    padding: 7px;
    margin-bottom: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}