{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block style %}
{% endblock %}

{% block title %}
    News
{% endblock %}

{% block content %}
    <div class="container">
        <div style="background-color: cornflowerblue">
            {% for it in categories %}
                <a href="/">{{ it.name }}</a>
            {% endfor %}
        </div>
        <h1>News</h1>
        <div class="row">
            {% for it in data %}
                <div class="row">
                    <div class="col">
                        <img src="/media/{{ it.fields.avatar }}" alt="{{ it.fields.title }}"
                             style="width: 100%; height: 300px">
                    </div>
                    <div class="col">
                        <a href="{% url 'news:detail_news' url=it.fields.url %}"><h3>{{ it.fields.title }}</h3></a>
                        <p>{{ it.fields }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}