{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block style %}
    form {
    border-radius: 10px;
    padding: 10px;
    background-color: #cccccc;
    margin-bottom: 10px;
    margin-top: 10px;
    }
    input {
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    }
    button {
    border-radius: 10px;
    color: white;
    background-color: red;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    }

    img {
    width:100%;
    height: auto;
    }
{% endblock %}

{% block title %}
    Crawl Video
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Crawl Video <i class="fa-brands fa-youtube" style="color: #ff0000;"></i></h1>
        <form method="post">
            {% csrf_token %}
            <p>
                <b>Công cụ lấy video Youtube từ URL Channel</b>
            </p>
            <input type="text" name="domain_channel" placeholder="Viết link channel youtube mà bạn muốn lấy dữ liệu">
            <input type="number" name="number_of_video" placeholder="Số lượng video muốn lấy(default: 90)" style="width: 50%" value="90"><br>
            <button type="submit"><b>Crawl Channel Video</b></button>
            <p>Công cụ này giúp bạn dễ dàng lấy video từ bất kỳ kênh Youtube nào chỉ bằng cách cung cấp URL của
                kênh.</p>
            <p><b>Lưu ý:</b></p>
            <ul>
                <li>Sử dụng công cụ này một cách có trách nhiệm và tuân thủ các điều khoản dịch vụ của Youtube.</li>
                <li>Tải video chỉ dành cho mục đích sử dụng cá nhân, không vi phạm bản quyền.</li>
                <li>Công cụ này có thể thay đổi hoặc bị hạn chế theo thời gian.</li>
            </ul>
        </form>

        <div style="background-color: #cccccc; padding: 20px; border-radius: 10px;">
            {% if list_video %}
                <p>Tổng cộng: {{ length }} Video</p>
                {% if status %}
                    <button id="downloadButton">Download Data</button>
                {% endif %}
                {% for it in list_video %}
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            {% if it.Thumb %}
                                <img src="{{ it.Thumb }}" alt="thumb-video">
                            {% else %}
                                <img src="/media/cau-hoi-voi-how.jpg" alt="thumb-video">
                            {% endif %}
                        </div>
                        <div class="col-lg-8 col-md-6 col-12" style="margin-top: 5px;">
                            <a href="{{ it.Link }}" target="_blank"><p>{{ it.TitleVideo }}</p></a>
                            <p>{{ it.Link }}</p>
                            <p>{{ it.View }}</p>
                            <p>{{ it.Date }}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}